{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
    {{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}
{% endblock %}

{% block script_block %}
    <script>
        var lecturerID = {{ lecturer.id }};
    </script>

    <script src="{% static 'js/LecturerPageScript.js' %}"></script>
{% endblock %}

{% block body_block %}
    <style>
        .rateLecturerButton[disabled] {
            background-color: yellow;
        }
    </style>

    <h1>{{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}</h1>

    <p>
        Rate this lecturer:
        <button class="rateLecturerButton" id="rateLecturerButton1" onclick="rateLecturer(1)">1</button>
        <button class="rateLecturerButton" id="rateLecturerButton2" onclick="rateLecturer(2)">2</button>
        <button class="rateLecturerButton" id="rateLecturerButton3" onclick="rateLecturer(3)">3</button>
        <button class="rateLecturerButton" id="rateLecturerButton4" onclick="rateLecturer(4)">4</button>
        <button class="rateLecturerButton" id="rateLecturerButton5" onclick="rateLecturer(5)">5</button>
    </p>

    <p>
        Average rating: <span id="averageRating">{{ lecturer.get_rating }}</span>
    </p>
{% endblock %}
