{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
    {{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}
{% endblock %}

{% block script_block %}
    <script>
        var lecturerID = {{ lecturer.id }};
        var starURL = "{% static 'img/star.png' %}";
        var selectedStarURL = "{% static 'img/star-selected.png' %}";
    </script>

    <script src="{% static 'js/LecturerPageScript.js' %}"></script>
{% endblock %}

{% block body_block %}
    <style>
        /*.rateLecturerButton {
            content:url("{% static 'img/star.png' %}");
        }

        .rateLecturerButton[disabled] {
            content:url("{% static 'img/star-selected.png' %}");
        }*/
    </style>

    <h1>{{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}</h1>

    <p>
        University: {{ lecturer.university }} <br />
        Department: {{ lecturer.department.name }}
    </p>

    <p>
        Rate this lecturer:

        <!-- Using this to iterate a fixed number of times -->
        {% for i in "1234567890" %}
            <img src="{% static 'img/star.png' %}" width=25 class="rateLecturerButton" id="rateLecturerButton{{forloop.counter}}" onclick="rateLecturer({{forloop.counter}})">

                <!-- {{forloop.counter}} -->
        {% endfor %}
    </p>

    <p>
        Average rating: <span id="averageRating">{{ lecturer.get_rating }}</span>
    </p>
{% endblock %}
