{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
{{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}
{% endblock %}

{% block script_block %}
    <script>
        var lecturerID = {{ lecturer.id }};
        var starURL = "{% static 'img/star.png' %}";
        var selectedStarURL = "{% static 'img/star-selected.png' %}";
    </script>

    <script src="{% static 'js/LecturerPageScript.js' %}"></script>
    <script src="{% static 'js/CommentScoresScript.js' %}"></script>
{% endblock %}

{% block body_block %}
	
<font color=#0077b0><h1>{{ lecturer.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}</h1></font>

    <p>
        University: {{ lecturer.university }} <br />
        Department: {{ lecturer.department.name }}
    </p>


    <p>
       <font color="#FFD700" size="300px"> Average rating: <span id="averageRating">{{ lecturer.get_rating }}</span> </font>
    </p> <br>

    {% if userInUni %}
    <p class="well" id="addCommentArea" {% if userCommented %} hidden="true" {% endif %}>
		Rate this lecturer:

        <!-- Using this to iterate a fixed number of times -->
        {% for i in "1234567890" %}
            <img src="{% static 'img/star.png' %}" width=25 class="rateLecturerButton" id="rateLecturerButton{{forloop.counter}}" onclick="rateLecturer({{forloop.counter}})">
        {% endfor %} <br> <br>
        <textarea id="commentText{% if userCommented %}-hidden{% endif %}"></textarea> <br />
        <input type="checkbox" value="Submit Anonymously" id="anonymousCheck{% if userCommented %}-hidden{% endif %}" /> Submit Anonymously <br>
		<button class="btn-default" onclick="addComment()">Comment</button>
    </p>
    {% endif %}

    <div class="container text-left" id="comments"></div>

{% endblock %}
