<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="utf-8"/>
        <title>
            {% block title_block %}
                Rate My Lecturer
            {% endblock %}
        </title>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/AjaxQueue.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/SearchLecturersScript.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/UniversitySelectScript.js' %}"></script>

        {% block script_block %}
        {% endblock %}

        <style>
            #searchLecturersBox {}
            #searchLecturersResults {}
        </style>
    </head>
    <body>
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'main:index' %}">Home</a></li>
						{% if user.is_authenticated %}
							<li class="active"><a href="{% url 'log:logout' %}">Logout </a></li>
							<li class="active"><a href="{% url 'lecturer:add' %}">Add Lecturer</a></li>
						{% else %}
							<li class="active"><a href="{% url 'log:signup' %}">Sign Up </a></li>
							<li class="active"><a href="{% url 'log:login' %}">Login</a></li>
						{% endif %}
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
                            <select id="universitiesSelect" onchange="universitiesSelectChanged()">
                            </select>
							<input type="text" class="form-control" id="lecturer"
								onkeyup="searchLecturers()" placeholder="Lecturer Search">
						</div>
					</form>
				</div>
			</nav>

			<div class="jumbotron">
				<div id="lecturerResults">
				</div>
				<div>
				<!-- Page specific content goes here -->
				{% block body_block %}
					This is body_block's default content.
				{% endblock %}
				</div>
			</div>
		</div> <!--  Closes Container -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
