{% extends 'main/base.html' %}

{% block title_block %}
    Welcome to Rate My Lecturer
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <h1>Hello {{ user.username }}! You are logged in!</h1>
    {% endif %}

    <h1 class="text-center">Welcome to Rate My Lecturer</h1>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="well">
				<h4 class="text-center"> Top 5 Lecturers </h4>
				<table class="table text-center table-hover">
                    {% for lecturer in lecturers %}
                    <tr>
						<td><a style="color: blue; text-decoration: underline;" href="/lecturer/{{lecturer.id}}">{{lecturer.title}} {{lecturer.first_name}} {{lecturer.last_name}}</a></td>
						<td> {{lecturer.get_rating}} </td>
					</tr>
                    {% endfor %}
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="well">
				<h4 class="text-center"> Top 5 Universities </h4>
				<table class="table text-center table-hover">
                    {% for university in universities %}
					<tr>
						<td><a style="color: blue; text-decoration: underline;" href="/lecturer/universityPage/{{university.id}}">{{university.name}}</a></td>
						<td> {{university.get_rating}} </td>
					</tr>
                    {% endfor %}
				</table>
			</div>
		</div>
	</div>


{% endblock %}
