{% extends 'main/base.html' %}

{% block title_block %}
    Login to Rate My Lecturer
{% endblock %}

{% block body_block %}
    <h2>Login</h2>

    {% if error_message %}
    <p><b>{{ error_message }}</b></p>
    {% endif %}

    <form id="login_form" method="post" action="/log/login/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"  class="form-control"/>
        <br />
        <input type="password" name="password" placeholder="Password"  class="form-control"/>
        <br />

        <input class="btn btn-default" type="submit" value="Submit" />
    </form>
{% endblock %}
