{% extends 'main/base.html' %}

{% block title_block %}
    Login to Rate My Lecturer
{% endblock %}

{% block body_block %}
    <font color=#0077b0><h2>Log In:</h2></font><br/>

    {% if error_message %}
    <p><b>{{ error_message }}</b></p>
    {% endif %}

    <form id="login_form" method="post" action="/log/login/">
        {% csrf_token %}
		<label>Username:</label> 
        <input type="text" name="username"  class="form-control"/>
        <br/>
		<label>Password:</label>
        <input type="password" name="password"  class="form-control"/>
        <br/>

        <input class="btn btn-default" type="submit" value="Submit" />
    </form>
{% endblock %}
