{% extends 'main/base.html' %}
{% load static %}

{% block script_block %}
    <script type="text/javascript" src="{% static 'js/SignupScript.js' %}"></script>
{% endblock %}

{% block title_block %}
    Signup for Rate My Lecturer
{% endblock %}

{% block body_block %}
    <h2>Signup</h2>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/log/login/">Login</a><br />
    {% else %}
		<form id="user_form" method="post" action="/log/signup/" enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form. The as_p method wraps each element in a paragraph
				 (<p>) element. This ensures each element appears on a new line,
				 making everything look neater. --> 
			{{ user_form.as_p }} 
			{{ profile_form.as_p }}
			
			<!-- Provide a button to click to submit the form. -->
			<input id="submitButton" type="submit" name="submit" value="Sign Up" />
		</form>
    {% endif %}
{% endblock %}
